@import { url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book)}

@font-face {
    font-family: "Circular Std Book"; src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot"); src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book") format("svg"); }

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-size: 20px;
    font-family: "Circular Std Book";
}

label {
    pointer-events: none;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}
button{
    cursor: pointer;
}

button:focus {
    outline:0;
}

.icon-text{
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.icon-text p {
    margin-left: 5.5px !important;
}

header{
    padding: 0 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 86%;
    height: 150px;
    background-color: white;
    z-index: 2;
    transition: 0.2s;
}

header .logo  img {
    height: 100px;
}

.hideHeader {
    top:-150px;
}

.smallHeader {
    height: 80px;
    position: sticky;
    opacity: 0.8;
    top: 0;
}

.smallHeader .logo {
    height: 80px;
}

.smallHeader .contact-social{
    display: none;
}


.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobileHamburguer {
    display: none;
    height: 45px;
    margin: auto 0;
    cursor: pointer;
}

.mobileHamburguer img{
    height: 45px;
    width: 45px;
    color: #328AE5
}

.mobileMenu {
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    opacity: 0;
}

.mobileMenu ul{
    list-style: none;
    font-size: 7vw;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.mobileMenu li{
    margin: 10px auto;
    width: fit-content;
}

.mobileMenu a {
    box-sizing: border-box;
}

.mobileMenu  .active {
     color: #328AE5;
    border-bottom: solid 2px #328AE5;
}

.closeMenu {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.menu {
    position: absolute;
    bottom: 2px;
    right: 7%;
}

.menu ul {
    margin: 0;
    display: flex;
    list-style: none;
}

.menu ul li{
    transition: all 0.2s ;
    font-size: 25px;
    padding: 0 20px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.menu ul .active, menu ul li:hover {
    color: #328AE5;
    border-bottom: solid 2px #328AE5;
}

.menu ul li:last-child {
    margin-right: 0;
}

header .contact-social{
    margin-top: 12px;
}

header .contact-social p{
    margin: auto;
    font-size: 22px;
    color: #328AE5;
}

.whatsapp {
    position: fixed;
    top: 170px;
    right: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
}

.whatsapp img {
    height: 50px;
    
}

.whatsapp button {
    background: #328AE5;
    color: white;
    outline: none;
    border: none;
    border-radius: 32px;
    height: 32px;
    font-size: 16px;
    padding: 8px 15px;
    box-sizing: border-box;
    margin-top: 15px;
}

.banners {
    overflow: hidden;
    position: relative;
}

.banners button {
    position: absolute;
    background: none;
    border: none;
    top: 50%;
    transform: translatey(-50%)
}

.banners button {
    right: 140px;
    z-index: 1;
}

.banners button:first-child {
    left: 140px;
    transform: rotate(180deg) translateY(50%);
}

.banners #banners-carousel {
    transition: all 0.2s ;
    display: flex;
    overflow: hidden;

}

#banners-carousel img {
    width: 100vw;
}


.banners .indicators {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
}

.active-dot {
    background-color: #328AE5;
}

.banners .indicators div {
    transition: all 0.2s ;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #328AE5;
    margin: 0 4px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 7px;
}

.social .icon {
    height: 32.5px;
    width: 32.5px;
    margin: 0 9.25px;
}


.about {
    display: flex;
    justify-content: space-between;
    padding: 24px 20%;
}

.cell {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 320px;
}

.cell h3 {
    margin: 3px 0;
    font-size: 22px;
}

.cell p {
    box-sizing: border-box;
    margin: 0;
    text-align: left;
    padding: 0 10px;
}

.cell img {
    height: 80px;
}

.cell button {
    background: none;
    border: none;
    color: #1B87F7;
    font-size: 18px;
    margin-top: 10px;
}

.services {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D5E7FA;
    padding-bottom: 180px;
}

.services h2{
    font-size: 74px;
    text-align: center;
    margin: 23px 0;
}

.services .caroussel {
     -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: flex;
    position: relative;
    align-items: center;
}

.services .caroussel #items {
    transition: all 0.2s ;
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    max-width: 468px;
    overflow: hidden;

}

.services .caroussel #items .item {
    position: relative;
    margin: 0 16.5px
}

.services .caroussel #items .item img {
    pointer-events: none;
}

.services .caroussel #items .item button {
    position: absolute;
    top: 0;
    right: -16px;
    background: none;
    border: none;
}

.services button {
    z-index: 1;
    background: none;
    border: none;
}

.services button img {
    pointer-events: none;
}

.services .back{
    transform: rotate(180deg)
}

.services #cell-info {
    background:#ECF6FF;
    padding: 12px 53px;
    box-sizing: border-box;
    max-width: 640px;
    border-radius: 5px;
    position: absolute;
    transition: 0.2s all;
    opacity: 0;
    bottom: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D5E7FA;
    padding-bottom: 100px;
    padding-top:80px
}

.contact h2 {
    font-size: 59px;
    margin: 70px 0 80px 0;
}

.contact .container {
    display: grid;
    grid-template-columns: 536px 536px;
    grid-template-areas:
        "contact form"
        "address form"
        "none form";
    grid-row-gap: 30px;
    grid-column-gap: 80px;
}

.contact .contact-info {
    grid-area: contact;
    background-color: white;
    box-sizing: border-box;
    padding: 29px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.16);
}

.contact .contact-info h3{
    margin: 8px 0;
    font-size: 30px;
    color: #294661;
}

.contact-info h3 + p {
    max-width: 400px;
}

.contact .contact-info p {
    margin: 3px 0;
    color: #949494
}

.contact .contact-info .info-text {
    margin: 0 0 8px;
    color: #294661;
}

.contact .location {
    position: relative;
    grid-area: address;
    background-color: #294661;
    border-radius: 5px;
    padding: 29px 60px;
    background-image: url(assets/brazil-map.svg);
    background-repeat: no-repeat;
    background-position: right 10% center;
    box-sizing: border-box;
    height: 200px;
}

.contact .location img {
    position: absolute;
    left: 25px;

}

.contact .location p{
    color: white;
    margin: 2px 5px;
    white-space: pre-line
}

.contact .location a{
    color: #0F8BFE;
    text-decoration: none;
}

.contact .contact-form {
    grid-area: form;
}

.text-input {
    position: relative;
    margin-bottom: 30px;
}

.text-box-input {
    position: relative;
    margin-bottom: 30px;
}

input:focus ~ label,
input:not(:focus):valid ~ label {
  top: 14px;
    color:#0F8BFE;
    font-size: 18px;
}

input:focus {
    outline: none;
}

.text-input input {
    height: 95px;
    width: calc(100% - 25px);
    border: none;
    border-radius: 5px;
    color: #949494;
    font-size: 25px;
    padding-left: 25px;
}

textarea:focus ~ label,
textarea:not(:focus):valid ~ label{
  top: 14px;
    color:#0F8BFE;
    font-size: 18px;
}

textarea:focus {
    outline: none;
}

.text-box-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #949494;
    font-size: 25px;
    padding: 30px 25px;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
}

.text-box-input label {
    transition: all 0.2s ;
    position: absolute;
    z-index: 1;
    color: #949494;
    font-size: 24px;
    top: 29px;
    left: 25px;
}

.text-input label {
    transition: all 0.2s ;
    position: absolute;
    z-index: 1;
    color: #949494;
    font-size: 24px;
    top: calc(50% - 13.5px);
    left: 25px;
}

.verify-field{
      display: flex;
      height: 32px;
      position: absolute;
      right: 25px;
      top: calc(50% - 16px);
      transition: all 0.2s;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.8);
      opacity: 0;
      height: 27px;
}

.estate-select {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.estate-select .text-input{
    width: 48%;
}

.estate-select .select-container {
    width: 48%;
}

.dropdown {
    position: relative;

}

.dropdown-value {
    height: 95px;
    background-color: white;
    border-radius: 5px;
    padding-left: 25px;
    font-size: 22px;
    color: #949494;
    line-height: 95px;
}

.dropdown-arrow {
    display: flex;
    height: 32px;
    position: absolute;
    right: 25px;
    top: calc(50% - 16px);
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.8);
}

.active-dropdown-value ~ .dropdown-arrow{
  opacity: 0;
}

.active-dropdown-value:hover + .dropdown-arrow,
.dropdown-arrow:hover{
  opacity: 1;
}

.upsideDown{
    transform: rotate(180deg);
    opacity: 1 !important;
}

.dropdown-items{
    position: absolute;
    z-index: 1;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    top: 92px;
    max-height: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;
    transition: all 0.3s;
}

.dropdown-item {
    height: 56px;
    color: #949494;
    line-height: 56px;
    font-size: 22px;
    cursor: pointer;
    padding-left: 25px;
}

.dropdown-item:hover {
    background-color: #eee
}

.visible{
    max-height: 350px
}

.form-button{
    background: #0F8BFE;
    border-radius: 49px;
    outline: none;
    border: none;
    width: 48%;
    font-size: 23px;
    color: white;
    height: 42px;
    -webkit-box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.16);
}

footer {
    padding: 0 7%;
    background-color: #224762;
    display: flex;
    justify-content: space-between;
    height: 127px;
}

footer p {
    margin: 10px 0;
    color: #E8EBEE;
    white-space: pre-line;
    height: fit-content;
}

footer .address {
    margin-top: auto;
}

footer .copyright {
    margin-top: auto;
}

footer .contact-social{
    margin-top: auto;
    font-size: 22px;
}


#mask {
    transition: all 0.2s ;
   background-color: rgba(6,6,6,.31);
    bottom: 0;
    justify-content: space-between;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
    display: flex;
    opacity: 0;
}

.modal {
    width: 70%;
    flex-direction: column;
    margin: auto;
    background-color: #D9EAFC;
    padding: 40px 120px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.modal .close-button {
    background: #328AE5;
    border:none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -25px;
    display: flex;
    right: -25px;
    align-items: center;
    justify-content: center;
}

.modal .close-button img{
    height: 25px;
    width: 25px;
}

.modal h2{
    margin:0 0 45px 0;
    font-size: 55px;
}

.modal-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3%
}

.modal .text-input input{
    height: 50px;
    font-size: 18px;
}

.modal .text-input label {
    font-size: 18px;
    top: calc(50% - 11px);
}

.modal input:focus ~ label,
.modal input:not(:focus):valid ~ label{
  top: 5px;
    color:#0F8BFE;
    font-size: 13px;
}

.modal .text-box-input{
    max-width: 700px;
    margin: 0 auto 25px;
}

.modal .form-button{
    display: block;
    margin: 0 auto;
}

.modal .text-box-input textarea{
    max-height: 150px;
    font-size: 18px;
    padding: 14px 25px;
}

.modal .text-box-input label {
    font-size: 18px;
    top: 14px;
}

.modal textarea:focus ~ label,
.modal textarea:not(:focus):valid ~ label{
  top: 5px;
    color:#0F8BFE;
    font-size: 13px;
}

@media only screen and (max-width: 1220px) {
    header .logo  img {
    height: 80px;
}
    .banners button {
    right: 45px;
    z-index: 1;
}

.banners button:first-child {
    left: 45px;
    transform: rotate(180deg) translateY(50%);
}
    h2 {
        font-size: 35px !important
    }
    
    body {
        font-size:18px;
    }
    
    header {
        padding: 0 2%;
        width: 96%;
    }
    
    .menu {
        right: 2%;
    }
    
    .menu ul li {
        font-size: 20px;
        padding: 0 10px;
    }
    
    .whatsapp{
        top: 160px;
        right: 10px
    }
    
    .about {
        padding: 12px 1%;
    }
    
    .cell img {
        height: 50px;
    }
    
    .cell p {
        box-sizing: border-box;
        padding: 0 5px;
        font-size: 16px
    }
    
    .cell h3 {
        font-size: 20px;
    }
    
    
    .contact .container {
        grid-template-columns: 45vw 45vw;
        grid-column-gap: 5vw
    }
    
    .contact .contact-info {
        padding: 15px;
    }
    
    .contact .contact-info h3 {
        font-size: 25px;
    }
    
    .contact .location {
        padding: 15px 60px;
    }
    
    .text-input input {
        font-size: 18px;
        height: 80px;
    }
    
    .dropdown-value {
        font-size: 18px;
         height: 80px;
        line-height: 80px;
    }
    
    .text-input label {
        font-size: 18px;
        top: calc(50% - 9px);
    }
    
    .text-box-input textarea {
        font-size: 18px;
        padding: 15px 12.5px;
    }
    
    .text-box-input label {
        font-size: 18px;
    }
    .modal-fields {
    grid-template-columns: repeat(3, 1fr);
    }
    .modal {
        width: 95%
    }
    footer {
        font-size: 15px !important;
        padding: 2%;
    }
    footer .contact-social {
        font-size: 18px;
    }
    footer img {
        height: 26px;
            margin: auto;
    }
    footer .social .icon{
        height: 26px;
        width: 26px;
    }
}

@media only screen and (max-width: 840px) {
    header .logo  img {
    height: 70px;
}
    .banners button img {
        height: 25px
    }
    .banners .indicators {
        bottom: 5%;
    }
    .banners .indicators div {
        height: 10px;
        width: 10px
    }
    .whatsapp img {
        height: 35px
    }
    
    .whatsapp button{
        font-size: 12px;
        height: 24px;
        line-height: 12px;
        width: 80px;
        padding: 1px;
        margin-top: 5px;
    }
    
    .menu {
        display: none
    }
    
    header .contact-social {
        margin: auto 0 ;
    }
    
    header .contact-social p {
        font-size: 18px;
    }
    
    header .icon-text img {
        height: 30px;
    }
    
    header .social .icon {
        height: 30px;
        width: 30px;
        margin: 0;
    }
    
    .mobileHamburguer {
        display: block;
    }
    .contact .container {
        display: flex;
        flex-direction: column;
    }
    .modal {
        padding: 10px 20px;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        overflow: auto
    }
    .modal-fields {
    grid-template-columns: repeat(2, 1fr);
    }
    .modal .close-button {
        top: 10px;
        right: 25px
    }
}
@media only screen and (max-width: 750px) {
       .services .caroussel #items{
        max-width: 312px;
    }
}
@media only screen and (max-width: 600px) {
    header .logo img{
        height: 40px
    }
    body {
        font-size: 14px
    }
    header {
        height: 100px
    }
    header .contact-social p{
        font-size: 14px
    }
    header .icon-text img {
        height: 22px
    }
    header .social .icon {
        height: 22px
    }
    .whatsapp {
        top:110px;
    }
    .cell h3 {
        font-size: 16px
    }
    .cell p {
        font-size: 14px;
            text-align: center
    }
    .services .item>img{
        height: 90px
    }
    .services button img {
        height: 30px
    }
    .services .caroussel #items {
        max-width: 254px;
            margin:0
    }
    .services #cell-info {
        padding: 1rem;
        max-width: 95vw;
    }
    .contact {
        padding-top: 40px;
            
    }
    .contact h2 {
        margin: 40px auto;
            text-align: center;
        font-size: 25px !important
    }
    .contact .contact-info {
        padding: 0.5rem;
        max-width: 95vw;
    }
    .contact .location{
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    .dropdown-items {
        top: 75px;
        z-index: 2;
    }
    .dropdown-item {
        font-size:18px;
        overflow: hidden;
        padding-left: 15px;
    }
    .dropdown-value {
        padding-left:15px;
    }
    .estate-select {
        flex-direction: column
    }
    .estate-select .text-input {
        width: 100%;
        
    }
    .estate-select .select-container {
        width: 100%;
        margin-bottom: 30px;
    }
    .contact .contact-form {
        max-width: 95vw;
    }
    .text-input input {
        padding-left: 15px;
        width: calc(100% - 15px);
    }
    .contact .form-button {
        font-size: 18px;
        width: 100%
    }
    footer .contact-social p{
        font-size: 14px
    }
    footer .icon-text img {
        height: 22px
    }
    footer .social .icon {
        height: 22px;
        margin: 0 7px;
    }
    .copyright {
        font-size: 10px;
        width: 30vw;
        text-align: center;
    }
    footer .address{
        font-size: 12px;
    }
    .modal h2 {
        font-size: 25px !important;
    }
    .modal .close-button {
        height: 30px;
        width: 30px;
        top: 15px;
        right: 15px;
        position: fixed
    }
    .modal .text-input input {
        padding-left: 10px;
        width: calc(100% - 10px);
            font-size: 14px
    }
    .modal .text-input label {
        font-size: 14px;
        top: calc(50% - 7px);
        left: 10px;
    }
    .modal .close-button img{
        height: 15px;
        width: 15px;
    }
}
